@font-face
   font-family 'sell-icon'
   src:url('/src/common/stylus/fonts/sell-icon.eot') format('embedded-opentype'),
		url('/src/common/stylus/fonts/sell-icon.ttf') format('truetype'),
		url('/src/common/stylus/fonts/sell-icon.woff') format('woff'),
		url('/src/common/stylus/fonts/sell-icon.svg') format('svg')
   	font-weight normal
   	font-style  normal
.icon
	font-family 'sell-icon'
.icon-check_circle:before
	content '\e905'
.icon-close:before
	content '\e906'
.icon-remove_circle_outline:before
	content '\e907'	
.icon-add_circle:before
	content '\e908'
.icon-keyboard_arrow_right:before
	content "\e909"