
@font-face 
   font-family 'sell-icon'
   src:url('../fonts/sell-icon.eot') format('embedded-opentype'),
        url('../fonts/sell-icon.ttf') format('truetype'),
        url('../fonts/sell-icon.woff') format('woff'),
        url('../fonts/sell-icon.svg') format('svg')
    font-weight normal
.iconfont 
  font-family:"sell-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


.icon-gouwuche:before 
    content  "\e601" 

.icon-110:before  
   content  "\e60c" 

.icon-iconwenjianjia:before 
   content  "\e613" 

.icon-ju-icon-reduce:before  
   content "\e619"
 
.icon-jia:before  
   content  "\e710"

.icon-guanbi:before  
   content "\e602"

.icon-shoucang:before 
   content "\e614" 

.icon-dui:before 
   content "\e60f" 

.icon-xiayibu:before 
  content "\e643"

